*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}
footer{
    text-align: center;
    margin: 10px;
}

.tituloPrincipal{
    background-color: rgb(113, 187, 247);
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questao{
    margin-top: 20px;
    margin-left: 10px;
}
.questao h2{
    margin-bottom: 20px;
}
.entrada{
    display: flex;
}
.valorQ{
    margin-right: 10px;
    width: 60px;
}