*{
    margin: 0px;
    padding: 0px;
}
.tituloPrincipal{
    background-color: rgb(113, 187, 247);
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questao1{
    margin-top: 20px;
    margin-left: 10px;
}
.questao1 h2{
    margin-bottom: 20px;
}
.entrada-q1{
    display: flex;
}
.valorQ1{
    margin-right: 10px;
    display: flex;
    width: 60px;
}

.questao2{
    margin-top: 20px;
    margin-left: 10px;
}
.questao2 h2{
    margin-bottom: 20px;
}
.valorQ2{
    width: 60px;
}

.questao3{
    margin-top: 20px;
    margin-left: 10px;
}
.questao3 h2{
    margin-bottom: 20px;
}
.valorQ3{
    width: 60px;
    margin-right: 10px;
}